.Card__section {
  background-color: #fdb249;
  padding: 0 15px;
}

.Card__select {
  border-radius: 5px;
  background-color: white;
}

.Card__list-title{
  @media all and (min-width: 768px) {
    font-size: 30px;
  }
}

.Card__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-template-rows: auto;
}

.Card__element {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
}
