.Card__wrapper {
  width: 320px;
  height: 450px;
  margin-bottom: 40px;
  padding: 10px;
  border: solid rgba(51, 122, 183, 0.1) thin;
  border-radius: 5px;
  box-shadow: 0 12px 12px 0 #f39e26;
  background-color: white;
  @media all and (min-width: 768px) {
  height: 550px;
  width: 420px;
  }
}

.Card__img {
  width: 100%;
  height: auto;
  border: solid rgba(51, 122, 183, 0.1) thin;
  padding-bottom: 10px;
  transition: all ease 0.5s;
  &:hover {
    transform: scale(1.05);
  }
}

.Card__name{
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  @media all and (min-width: 768px) {
    font-size: 24px;
  }
}

.Card__description{
  font-size: 14px;
  font-weight: 400;
  text-align: justify;
  padding-bottom: 10px;
  @media all and (min-width: 768px) {
    font-size: 18px;
  }
}


.tiptext {
  visibility: hidden;
  width: 120px;
  background-color: #fdb249;
  color: black;
  text-align: center;
  border-radius: 3px;
  padding: 6px;
  position: relative;
  z-index: 1;
  box-shadow: 0 5px 10px grey;
  font-size: 10px;
  @media all and (min-width: 768px) {
    font-size: 15px;
  }
}

.tooltip:hover .tiptext {
  visibility: visible;
}

.code{
  display: block;
  width: 80px;
  height: 30px;
  top: 10px;
  left: 10px;
  background-color: #fdb44b;
  color: #fff;
  border-radius: 5px;
  &:hover {
    background-color: darken(#fdb44b, 15%);
  }
}
