.ContactElement__wrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.ContactElement__icon {
  width: auto;
  height: 40px;
}

.ContactElement__name {
  color: #292940eb;
  font-size: 16px;
  margin: 5px 0 5px 10px;
  &:hover{
    color:#fdb44b;
  }
  @media all and (min-width: 768px) {
    font-size: 20px;
  }
}
