.Home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #fdb44b;
}

.Home__photo {
  background-image: url(../../images/Miren.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 140%;
  position: relative;
  height: 420px;
  @media all and (min-width: 768px) {
    position: fixed;
    height: 100%;
    width: 50%;
    background-size: 230% auto;
  }
}

.Home__text-wrapper {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #252525;
  padding: 5px;
  background: #fdb44b;
  @media all and (min-width: 768px) {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
  }
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  cursor: pointer;
  transition: all 0.8s;
  border: none;
  border-radius: 5px;
}

.Home__menu {
  width: 40px;
  height: 40px;
  top: 10px;
  left: 10px;
  background-color: #fdb44b;
  color: #fff;
  background-image: url("../../images/menu.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60% auto;
  &:hover {
    background-color: darken(#fdb44b, 15%);
  }
}

.Home__aboutMe {
  top: 10px;
  right: 10px;
  height: 40px;
  width: 100px;
  font-size: 16px;
  text-transform: uppercase;
  background-color: white;
  color: #fdb44b;
  border: #fdb44b solid 1px;
  &:hover {
    background-color: #fdb44b;
    border: white solid 1px;
    color: white;
  }
  @media all and (min-width: 768px) {
    &:hover {
      border: white solid 1px;
    }
  }
}

.Home__title {
  font-size: 40px;
}

.Home__subtitle {
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 20px 0;
}

.Home__bar {
  border-bottom: #252525 2px solid;
  width: 30px;
  align-items: center;
}
