.Contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #fdb44b;
  flex-grow: 1;
}

.Contact__list{
  width: 320px;
  height: auto;
  margin-bottom: 40px;
  padding: 10px;
  border: solid rgba(51, 122, 183, 0.1) thin;
  border-radius: 5px;
  box-shadow: 0 12px 12px 0 #f39e26;
  background-color: white;
}
